<div id="mainBackground">
    <div id="designBox">
        <!-- <div id="Heading">
            <div id="logo">
                <i class="fab fa-google"></i>
            </div>
            <div id="headingText">
                <h3>
                    CATES
                </h3>
            </div>
        </div> -->
        <!-- <div id="DesignContent">

        </div> -->

        <div id="description">
            <div id="logo">
                <i class="fas fa-quote-left"></i>
            </div>
            <div id="appDescription">
                Access to all the Caterers and Tiffin Services in one place
            </div>
        </div>
        <div id="loginBox">
            <!-- <div id="innerLoginBox"> -->

            <!-- </div> -->
            <div id="heading">
                <div id="appLogo">
                    <i class="fab fa-google"></i>
                </div>
                <h3>CATES</h3>
                <hr>
            </div>
            <div id="formbody">
                <form>
                    <div class="form-group">
                        <div class="input-container row">
                            <div id="inputIcon">
                                <i id="username" class="far fa-user"></i>
                            </div>
                            <input type="text" name="username" placeholder="Email" class="form-control">
                          </div>
                    </div>
                    <div class="form-group">
                        <div class="input-container row">
                            <div id="inputIcon">
                                <i id="password" class="fas fa-lock"></i>
                            </div>
                            <input type="password" name="password" placeholder="Password" class="form-control">
                         </div>
                    </div>
                    <div id="btndiv">
                        <button type="submit" class="btn btn-dark">
                            LogIn
                        </button>
                    </div>
                </form>
            </div>
            <div id="GoToSignOut">
                Don't have an Account?
                <div id="createOne">
                    Create One
                </div>
            </div>
        </div>
    </div>
</div>